

<!DOCTYPE html>
<html>

<head>
  <title>Virtual room</title>
</head>

<body>
<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="#"> <i class="fa fa-people-group"></i> ECOLE IT</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">STAND</a></li>
      <li><a href="#">My statistics</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </div>
</nav>

<!-- Rest of the page content goes here -->

</body>
</html>
