<app-visitor-nav-bar></app-visitor-nav-bar>
<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>

</head>

<body>
<div class="container shadow-lg card" style="">
  <h3>List of stands you can visit now through our virtual application</h3>
  <div class="statistics m-2 rounded-5">
    <div class="statistic">
      <button class="value ">Visit</button>
      <h4>Ecole IT</h4>
    </div>
    <div class="statistic">
      <button class="value ">Visit</button>
      <h4>ESI (HELB)</h4>

    </div>
    <div class="statistic">
      <button class="value ">Visit</button>
      <h4>SUPINFO</h4>

    </div>
    <div class="statistic">
      <button class="value">Visit</button>
      <h4>ESIA</h4>
    </div>
  </div>
</div>
</body>

</html>


