

<app-exponent-nav-bar></app-exponent-nav-bar>
<div class="container">
  <h3 class="m-5">Stand list <span class="btn btn-sm btn-dark justify-content-end">Add new stand +</span></h3>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Srtand 12b, Est position
      <span class="btn btn-dark btn-sm">Display</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Stand 2a, center
      <span class="btn btn-dark  btn-sm">Display</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Stand 2c center
      <span class="btn btn-dark btn-sm">Display</span>
    </li>
  </ul>

  <h3 class="m-5">Statistiques</h3>
  <div class="statistics-container">
    <div class="statistic">
      <h2>Position</h2>
      <div class="value">02</div>
    </div>
    <div class="statistic">
      <h2>Interessted</h2>
      <div class="value">50</div>
    </div>
    <div class="statistic">
      <h2>Orders</h2>
      <div class="value">567</div>
    </div>
    <div class="statistic">
      <h2>Visitors</h2>
      <div class="value">10,000</div>
    </div>
  </div>
  <h3 class="m-5">visitor list</h3>
  <div class="container">
    <table class="table table-striped table-dark table-sm" width="3em">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
