<!DOCTYPE html>
<html>

<head>
  <title>Member Portal</title>
</head>

<body class="">
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Exponent</h2>
    </div>
    <div class="card-content">
      <p>Welcome to your exhibitor ! space book stands and much more...</p>

      <button (click)="userStatus(false)"  class="btn">Go to Exponent Space</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Visitor</h2>
    </div>
    <div class="card-content">
      <p>Welcome to the Visitor Space! Join our virtual school room and access a wealth of educational resources. Connect and communicate with teachers, collaborate with fellow students, and actively participate in your child's education journey.</p>

      <button (click)="userStatus(true)"  class="btn">Go to Visitor Space</button>
    </div>
  </div>
</div>
</body>

</html>
